@import '@fontsource/poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #202430;
}

svg:not(.progressCircle):not(.circle) path {
  stroke: currentColor;
}

svg:not(.progressCircle):not(.circle) rect {
  stroke: currentColor;
}

svg:not(.progressCircle):not(.circle) circle {
  stroke: currentColor;
}
