@import '@fontsource/poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #202430;
}

svg:not(.progressCircle) path {
  stroke: currentColor;
}

svg:not(.progressCircle) rect {
  stroke: currentColor;
}

svg:not(.progressCircle) circle {
  stroke: currentColor;
}
